{% extends 'MiningBundle::base.html.twig' %}

{% block body %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">Overview</h2>
        <a href="{{ path('mining_new') }}">Create New</a>
    </div>
{% endblock %}