{% extends 'MiningBundle::base.html.twig' %}

{% block body %}
    <h1 class="page-header">Create Mining Op</h1>
    <div class="input-group">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        {#{{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}#}


        {#class="form-control"#}


        {{ form_end(form) }}
    </div>
{% endblock %}